/* For best practice, move CSS below to an external CSS file. */

@font-face {
    font-family: myFirstFont;
    src: url('../fonts/ScheherazadeRegOT.ttf');
}

span {
    font-family: "Courier New", serif;
    font-size: 50px;
}

.quiz-text {
    direction: rtl;
}

.color_red {
    color: red;
}

@keyframes fadeinall {
    0% {
        opacity: 1;
    }

    97% {
        opacity: 0;
    }

    98% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    99% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

#fadein {
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    background-color: #fff;
    z-index: 999;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation: fadeinall 1s normal both;
    animation: fadeinall 1s normal both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loader-wrapper {
    background-color: #FFFFFF;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
}

.loader {
    width: 40px;
    height: 40px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin-top: calc(50vh - 20px);
    display: inline-block;
    box-sizing: border-box;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}
